beautifulsoup4==4.5.3
Django==1.8.17
flake8==3.3.0
lxml==3.7.3
-e git://github.com/mysociety/mapit.git@master#egg=django-mapit
pytest==3.0.7
pytest-django==3.1.2
requests==2.13.0
SPARQLWrapper==1.8.0
tox==2.7.0
